.main_panel {
    -fx-background-color: #78a1ff;
    -fx-font-family: "Abyssinica SIL";
}

.main_panel .main_button {
    -fx-background-color: #dce7ff;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-font-size: 15px;
}

.selected {
    -fx-background-color: #ff3809;
    -fx-text-fill: white;
}

.notselected {
    -fx-background-color: #2fdf44;
    -fx-text-fill: white;
}

#main_anchor {
    -fx-background-color: rgba(255, 255, 120, 5);
}

.actual_grid_hidden {
    visibility: hidden;
}

.actual_grid_visible {
    visibility: visible;
}

.loading-hidden {
    visibility: hidden;
}

.loading-visible {
    visibility: visible;
}

#main_anchor {
    width: 600px;
}